
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; 
}

body {
  background: #e8f8e5;
  width: 100%;
  min-height: 100vh;
  display: flex; 
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  width: 80px;
  background: rgba(82, 154, 96, 0.61);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  height: 100vh;      
  position: sticky;  
  top: 0;             
  z-index: 100;
}

.nav-item {
  color: #03320c;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-bottom: 10px;
}

.nav-item:hover {
  background: rgba(82, 154, 96, 0.3);
  opacity: 1;
}

.nav-item.active {
  background: #529a60;
  color: white;
  opacity: 1;
}

.nav-item i {
  width: 22px;
  height: 22px;
}

.nav-item[data-section="notificacoes"],
.nav-item[data-section="registo-solucao"],
.nav-item[data-section="estatisticas"],
.nav-item[data-section="editar"] {
    display: none !important;
}